page{
    width: 100%;
    background-color: lightblue;
    background-position: center;
}
 navigation{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
 }